extends layout

block content
       div.row-fluid.left
           div.span5.offset1
               div.well
                 fieldset
                   legend.label.label-info
                     h5.text-center Add New Category
                   label Name
                   input(type="text", id="category_name")
                   label Base
                   select(id="category_base")
                     option(value="Names") Names
                     option(value="Dates") Dates
                   div.control-group.pull-right
                     div.controls
                       button.btn.btn-primary(id="add_new_category") Add

           div.span4.offset1.sidebar
               span
                   h4.text-center.text-success Categories
               span(id="current_edit")
               ul.nav.nav-tabs.nav-stacked(id="categories")




